.nav-logo{background-size:28px 28px; height:45px;}
.header-logo{background-size:28px 28px; width:50px;}
.footer .footer-logo{background-size:80px 80px;	height:80px!important; margin-bottom:20px!important;}

.theme-light .header .header-logo{background-image:url(../images/preload-logo.png);}
.theme-light .menu .nav-logo{background-image:url(../images/preload-logo.png);}
.theme-light .footer .footer-logo{background-image:url(../images/preload-logo.png);}

.theme-dark .header .header-logo{background-image:url(../images/preload-logo.png);}
.theme-dark .menu .nav-logo{background-image:url(../images/preload-logo.png);}
.theme-dark .footer .footer-logo{background-image:url(../images/preload-logo.png);}


body * :not(.fa):not(.fab):not(.fas) {
  font-family: 'Cairo' !important;
  direction: rtl !important;

}

input[type=email],.form_datetime {
  direction: ltr !important;
}
 #search{
   width: 30%;
   min-width:10px;
   margin-left: 1.3333%;
   margin-right: 0%;
 }
 #start {
  width: 30%;
  margin-left: 1.3333%;
  margin-right: 0%;
  min-width:10px;
  border-bottom: #777777 solid 1px;
 }
 #end{
   width: 30%;
   margin-left:1.3333%;
   margin-right: 0%;
   min-width:10px;
   border-bottom: #777777 solid 1px;
 }
 .toast{
  border-radius: 35px !important;
 }
